<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {{#each employees}}
            <tr>
                <td class='table-cell'>{{employeeName this}}</td>
                <td class='table-cell'>{{employeeEmail this}}</td>
                <td class='table-cell'>
                    <a href='/admin/employee/{{this._id}}'>Go to employee</a>
                </td>
            </tr>
        {{/each}}

    </tbody>
</table>