<h1>Delete Account</h1>
<h1>Are you sure you want to delete this account?</h1>
<h1>Employee name: {{user}}</h1>
<h1>Mail: {{email}}</h1>
<form action={{address}} method='POST'>
    <button
        class='btn btn-dark btn-lg mb-2'
        name='resp'
        value='yes'
        type='submit'
    >Yes</button>
    <button
        class='btn btn-danger btn-lg mb-2'
        name='resp'
        value='no'
        type='submit'
    >No</button>
</form>